.profile-card {
  background-color: rgba(196, 196, 196, 0.518);
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 30px;
}

#profile-name {
  color: rgb(193, 101, 193);
  text-align: center;
  font-size: 30px;
}

.job-title {
  color: rgb(108, 36, 36);
  text-align: center;
  font-style: italic;
}

#bio {
  background-color: rgba(251, 255, 17, 0.236);
  font-style: italic;
  border-radius: 10px;
  border: 10px;
  font-size: 15px;
}

.contact-info h3 {
  background-color: yellow;
}

.skills {
  background-color: yellow;
  color: red;
}

.inputboxes input[type="email"] {
  border: 2px solid green;
  padding: 5px;
  margin: 2px;
  border-radius: 1px;
  font-size: 10px;
}

.inputboxes input[type="tel"] {
  border: 2px solid green;
  padding: 5px;
  margin: 2px;
  border-radius: 1px;
  font-size: 10px;
}

body {
  background-color: rgb(161, 212, 229);
}

.skills-list span {
  font-size: 14px;
  background: yellowgreen;
  color: black;
  padding: 2px 10px;
  border-radius: 5px;
}

.skill-highlight {
  background-color: purple;
}